<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>name</td>
                <td>gender</td>
                <td>age</td>
                <td>d_id</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="e:${list}">
                <td th:text="${e.id}"></td>
                <td th:text="${e.gender} == '1'?'男':'女'"></td>
                <td th:text="${e.age}"></td>
                <td th:text="${e.dId}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>